.navbar-second{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter{
    height: 30px;
}

.search{
    height: 30px;
}


.inform{
    display: flex; 
    width: 600px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.prev-users{
    padding-left: 30px;
}

.users-cards{
    display: flex;
    flex-direction: column;
}

.user-card{
    background-color: #F7F7F7;
    width: 55%;
    height: 180px;
    margin: 15px 30px;
    border-radius: 14px;
}

.inf{
    padding: 10px;
    padding-left: 15px;
    height: 160px;
    position: relative;
}

.inf .nick {
    font-size: 18px;
    margin: 0;
    margin-top: 10px;
}

.inf .fio{
    font-size: 25px;
    margin: 0;
    margin-top: 10px;
}

.inf .work {
    font-size: 20px;
    margin: 0;
    margin-top: 25px;
}

.inf .place {
    font-size: 20px;
    margin: 0;
    margin-top: 10px;
}

.inf .change {
    position: absolute;
    top: 20px;
    right: 15px;
    padding: 0;
    border: none;
    background-color: inherit;
    color: #1C457C;
    cursor: pointer;
}
